[user]
  name = gatakaba
  email = m07112@gmail.com
[core]
  excludesfile = ~/.gitignore
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  st = status
  co = checkout
  br = branch
  cm = commit
  df = diff
